In [15]:
import pandas as pd
import os

In [18]:
csv_files = ['Source1.csv', 'Source2.csv', 'Source3.csv', 'Source4.csv', 'Source5.csv']
merged_data = pd.DataFrame()

In [22]:
for file_name in csv_files:
    data = pd.read_csv(file_name)
    
    # Adding the 'exchange' column with the name of the source CSV file
    data['exchange'] = os.path.basename(file_name)
    
    # Converting columns to numeric if they contain string values
    data['BEST_BID_PRICE'] = pd.to_numeric(data['BEST_BID_PRICE'], errors='coerce')
    data['BEST_OFFER_PRICE'] = pd.to_numeric(data['BEST_OFFER_PRICE'], errors='coerce')
    data['BEST_OFFER_SIZE'] = pd.to_numeric(data['BEST_OFFER_SIZE'], errors='coerce')
    
    # Calculating the 'Profit' using the formula ((Best bid price)-(Best offer price))*(Best offer size)
    data['Profit'] = (data['BEST_BID_PRICE'] - data['BEST_OFFER_PRICE']) * data['BEST_OFFER_SIZE']
    
    # Appending the data to the merged_data DataFrame
    merged_data = merged_data.append(data, ignore_index=True)
    
    # Sorting the merged_data DataFrame by the 'Profit' column in descending order
    merged_data = merged_data.sort_values(by='Profit', ascending=False)

# Saving the merged data to a new CSV file
merged_data.to_csv('merged_data_with_profit.csv', index=False)

In [21]:
merged_data.head(20)

,SYMBOL,BEST_BID_PRICE,BEST_BID_SIZE,BEST_OFFER_PRICE,BEST_OFFER_SIZE,exchange,Profit
200,DJI,35455.25,500,35453.75,450,Source5.csv,675.0
0,BRK.A,420200.00,5,420000.00,3,Source1.csv,600.0
1,DJI,35455.00,500,35453.75,450,Source4.csv,562.5
195,AMZN,3581.75,400,3580.25,350,Source5.csv,525.0
2,AMZN,3581.50,400,3580.25,350,Source4.csv,437.5
3,AMZN,3502.00,300,3500.75,250,Source1.csv,312.5
194,GOOGL,2742.25,200,2740.75,150,Source5.csv,225.0
4,DJI,35002.00,200,35000.50,150,Source1.csv,225.0
5,GOOGL,2702.00,200,2700.50,150,Source1.csv,225.0
6,GOOGL,2742.00,200,2740.75,150,Source4.csv,187.5
8,AMZN,3501.00,400,3500.50,350,Source2.csv,175.0
7,GM,61.00,800,60.75,700,Source1.csv,175.0
9,SPY,445.60,800,445.40,750,Source4.csv,150.0
10,WMT,141.00,700,140.75,600,Source1.csv,150.0
11,AMZN,3581.00,300,3580.50,250,Source3.csv,125.0
12,F,15.90,1500,15.80,1200,Source1.csv,120.0
13,DJI,35451.00,500,35450.75,450,Source3.csv,112.5
14,VIX,20.90,1000,20.80,900,Source3.csv,90.0
15,TSLA,801.00,150,800.10,100,Source1.csv,90.0
16,DIS,185.60,1000,185.50,900,Source4.csv,90.0